{# Authentication errors #}
{% if authenticationError %}
    <p>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorEmailBundle') }}</p>
{% endif %}

{# Let the user select the authentication method 
{% if availableTwoFactorProviders|length > 1 %}
    <p>{{ "choose_provider"|trans({}, 'SchebTwoFactorBundle') }}:
        {% for provider in availableTwoFactorProviders %}
            <a href="{{ path("2fa_login", {"preferProvider": provider}) }}">{{ provider }}</a>
        {% endfor %}
    </p>
{% endif %}

<p class="label"><label for="_auth_code">{{ "auth_code"|trans({}, 'SchebTwoFactorBundle') }} {{ twoFactorProvider }}:</label></p>
#}
<form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
    <p class="widget">
        <input
            id="_auth_code"
            type="code"
            name="{{ authCodeParameterName }}"
            autocomplete="one-time-code"
            autofocus
        />
    </p>

    {% if displayTrustedOption %}
        <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label></p>
    {% endif %}
    {% if isCsrfProtectionEnabled %}
        <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
    {% endif %}
    <p class="submit"><input type="submit" value="{{ "login"|trans({}, 'SchebTwoFactorEmailBundle') }}" /></p>
</form>

{# The logout link gives the user a way out if they can't complete two-factor authentication #}
<p class="cancel"><a href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorEmailBundle') }}</a></p>