<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {% include 'front/include/meta/meta-header.html.twig' %}

        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header id="site-header" class="py-3 mb-4">
            <div class="container d-flex justify-content-between align-items-center">
                <h1 class="site-title">
                    <a href="{{ path('app_page_home') }}">Demo</a>
                </h1>
                <nav id="main-nav">
                    <ul class="d-flex gap-3 mb-0">
                        <li><a href="{{ path('app_page_home') }}">Strona główna</a></li>
                        <li><a href="{{ path('app_page_news_default') }}">Z kraju i ze świata</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main id="content" class="container">
            {% block body %}{% endblock %}
        </main>

        <footer id="site-footer">
            <div class="container">
                <p class="mb-0">&copy; {{ "now"|date("Y") }} Demo. Wszelkie prawa zastrzeżone.</p>
            </div>
        </footer>
    </body>
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!--3.2.1-->

        {{ encore_entry_script_tags('app') }}

        {# block importmap %}{{ importmap('app') }}{% endblock #}
    {% endblock %}
</html>